body {
    padding: 10rem;
}

svg {
    outline: 5px solid yellow;
}

.progress-ring__circle {
    stroke-dasharray: 250;
    stroke-dashoffset: 226.08;
    /*   stroke-dasharray: 400 400; */
    /*     transition: stroke-dashoffset 1s; */
    /*     transform: rotate(-270deg);
      transform-origin: 50% 50%; */
    animation: animateProgress 1s ease-in-out forwards;
}

@keyframes animateProgress {

    /*       from {
          stroke-dashoffset: 240;
        } */
    to {
        stroke-dashoffset: 75;
    }
}


.stroke-current1 {
    stroke: gray;
}


.stroke-current {
    stroke: black;
}

.text-gray-200 {
    opacity: 0.5;
    color: rgb(229 231 235);
}